<html>
   <head>

   </head>
   <body>
      <form method="post">
         <label>Username:</label>
         <input name="username" type="text" placeholder="username"></input>

         <input type="submit"></input>
      </form>
   </body>
</html>
