<html>
   <head>
      <script src="../scripts/formValidate.js"></script>
   </head>
   <body>
      <form name="postForm" onsubmit="return validateForm()" method="post">
         <label> Title </label>
         <input name="title" type="text"></input><br/>

         <label> description </label>
         <input name="desc" type="text"></input><br/>

         <label> Link </label>
         <input name="link" type="text"></input><br/>

         <input type="submit"></input>
      </form>
   </body>
</html>
